@charset "UTF-8";

/* CONGIFURAÇÕES GERAIS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

:root {
  font-size: 1em;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}


/* HEADER PAGE */
#header-page, #footer-page {
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #181818;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.image-logo {
  width: 200px;
  height: auto;
}
#nav-links {
  display: flex;
  gap: 30px;
  font-size: 1.1em;
}
.links {
  position: relative;
  font-variant: small-caps;
  text-decoration: none;
  color: #fff;
}
.links::before {
  position: absolute;
  content:'';
  width: 100%;
  height: 10%;
  bottom: -2px;
  left: 0;
  background-image: linear-gradient(to left,#b60000,#dd0303);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms linear;
}
.links:hover::before {
  transform: scaleX(1);
}

/* MAIN PAGE */
#main-page {
  display: grid;
  grid-template-columns: 1fr .3fr;
  grid-template-rows: auto;

  background: radial-gradient(343px at 46.3% 47.5%, rgb(244, 244, 244) 0%, rgb(248, 248, 248) 72.9%);
}

/* MAIN HEADER */
#main-header {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px 10px;
}
#title-header {
  color: #181818;
  font-size: 2.4em;
  text-align: center;
  font-weight: 900;
  text-shadow: 5px 5px 0 rgba(95, 95, 95, 0.2);
}
#subtitle-header {
  text-align: center;
  color: #2c2c2c;
}

/* MAIN CONTENT */
#principal-content {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0 15px;
  padding-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 50px;
}
.article-sports {
  width: 250px;
  height: 350px;
  background-color: #fff;
  cursor: pointer;
  transition: 500ms;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.3);

  display: flex;
  flex-direction: column;
}
.figure-sports {
  width: inherit;
  min-height: 150px;
  max-height: 200px;
}
.image-sports, .image-extra-sports {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 500ms;
}
.image-sports {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.article-sports:hover, .image-extra-sports:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
}
.container-info {
  width: 90%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.title-article {
  font-size: 1.3em;
}
.paragraph-article {
  width: 100%;
  font-size: .9em;
  font-family:'Lato';
  word-break: break-all;
}

/* EXTRA CONTENT */
#extra-content {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url('imagens/background.jpg') ;
  background-size: contain;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.3);


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#title-aside, .title-section {
  color: #fff;
  text-align: center;
  margin: 10px 0;
}
#title-aside {
  font-variant: small-caps;
  font-size: 2em;
}
.title-section {
  font-size: 1em;
}
.figure-extra-sports {
  width: 200px;
  height: 150px;
  margin: auto;
}
.image-extra-sports {
  border-radius: 10px;
}